.body{
    width: 100vw;
}

.header{
    display: flex;
    align-content:space-between;
    width: 100%;
    height: 80px;
    background-color: #483d8b;
    background-position: right;
    background-repeat: no-repeat;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom:2px solid white;
}
.main{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    background-image: url("../img/nurse-2019420_1280.jpg");
    background-position:right;
    background-size:contain;
    background-repeat: no-repeat;
    border-top-right-radius: 35px;
    border-bottom-right-radius:35px;
    border:1px solid thistle;
}

.knopka01 {
    position: absolute;
    top: 15px;
    right: 30px;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(0,79,86);
    user-select: none;
}
.knopka01:hover {
    color: rgb(0,59,66);
    cursor: pointer;
}
.knopka01:active {
    padding-bottom: 1px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);
    color: white;
}


.fas{
    color: white; /*черный цвет*/
    font-size:55px /*размер иконки 35 пикселей в ширину и высоту*/
}
.fa-heartbeat{
    position: absolute;
    top:15px;
    left:40px;
}
.logo{
    color:thistle;
    font-size: 35px;
    position: absolute;
    top:25px;
    left:120px;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    padding-bottom: 2px;
    border-bottom: 2.5px solid thistle;
}
.modal{
    display: none;
    position: fixed;
    z-index: 3;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    background-color: #fefefe;
    margin:15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 35px;
}
.modalBtn{
margin: 2px;
padding: 5px;
background-color: #b3d4fc;
border-radius: 5px;
border: none;
}
.cardProperties{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 150px;
    border-radius: 10px;
    margin: 50px auto auto 50px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
}
.colorDentist{
   background-color: thistle;
}
.colorTerapist{
    background-color:#483d8b;
}
.cardProperties >h3{
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    color: white;
}
.cardProperties>button{
 width:  100px;
}
h2{
    color: #483d8b;
    font-size: 35px;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    margin: 10px 15px 15px 200px;
}
.hide-form{
    display:none;
}
input,textarea{
    margin:5px;
}
textarea{
    color: silver;
}
